<a href="https://colab.research.google.com/github/signul/adta5410/blob/main/Assignment%201_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Introduction to Python Basics
# Welcome to this introductory notebook! Complete the tasks marked as 'TODO' to learn Python fundamentals.

In [2]:
# 1. Variables and Data Types
# TODO: Change the value of 'name' to your own name and run the cell.
name = "John-Eric  Laangdale" #Change this to your own name
age = 20  # Change this to your age
height = 5.834  # Change this to your height in cm (1 foot = 30.48 cm)
id= 11673670 #Change this to your real student ID. It is important for grading purposes

print(f"Hello, my name is {name}. My student id is {id}. I am {age} years old and {height} feet tall.")

Hello, my name is John-Eric  Laangdale. My student id is 11673670. I am 20 years old and 5.834 feet tall.

In [3]:
# 2. Basic Arithmetic
# TODO: Modify the numbers and see the output.
w = 92 # Change this to your weight in kg
h = 178  # Change this to your height in cm.  (1 inch=2.54 cm)

addition = w + w
subtraction = h - 100
h_sq = h * h
bmi = w / h_sq

print("Addition:", addition)
print("Subtraction:", subtraction)
print("Height Square:", h_sq)
print("Body Mass Index:", bmi)

Addition: 184
Subtraction: 78
Height Square: 31684
Body Mass Index: 0.0029036737785633126

In [4]:
# 3. Lists
# TODO: Add one more fruit to the list.
fruits = ["apple", "banana", "cherry"]
fruits.append("strawberry")  # Add your favorite fruit here

print("Updated fruits list:", fruits)

Updated fruits list: ['apple', 'banana', 'cherry', 'strawberry']

In [5]:
# 4. Loops
# TODO: Use a loop to print each fruit in uppercase.
for fruit in fruits:
    print(fruit.upper())

APPLE
BANANA
CHERRY
STRAWBERRY

In [8]:
# 5. Functions
# TODO: Create a new function that returns the square of a number.
def greet(name):
    return f"Hello, {name}!"

def square(number):
    return number ** 2  # Replace this "____" with your implementation. What number should we put here?

print(greet(name))
print("Square of your age is:", square(age))

Hello, John-Eric  Laangdale!
Square of your age is: 400

In [9]:
# 6. Dictionaries
# TODO: Add a new key-value pair for 'grade'.
student_info = {
    "name": name,
    "age": age,
    "major": "Computer Science"
}
student_info["grade"] = "A"  # Add grade here

print("Student Info:", student_info)

Student Info: {'name': 'John-Eric  Laangdale', 'age': 20, 'major': 'Computer Science', 'grade': 'A'}

In [10]:
# 7. Libraries
# TODO: Use numpy to create an array and perform an operation on it.
import numpy as np

array = np.array([1, 2, 3, 4, 5])
array_squared = array ** 2

print("Original Array:", array)
print("Squared Array:", array_squared)

Original Array: [1 2 3 4 5]
Squared Array: [ 1  4  9 16 25]